.brands {
    position: relative;
    width: 100%;
    min-height: 250px;
    padding-bottom: 80px;
}

.brands:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/brands-bg.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.brands__absolute {
    position: absolute;
    left: 0;
    top: calc(50% - 50px);
    z-index: 0;
    width: 100%;
}

.brands__items {
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brands__item:not(:last-child) {
    margin-right: 25px;
}

@media (max-width: 576px) {
    .brands {
        padding-bottom: 15px;
        background-image: url("../../img/background.jpg");
    }
    .brands__items {
        background-color: transparent;
    }
    .brands:before {
        display: none;
    }
    .brands__absolute {
        position: relative;
        top: 0;
    }
    .brands__item:not(:last-child) {
        margin-right: 8px;
    }
}