.hero__content {
    max-width: 680px;
    padding-left: 60px;
}
.hero__next {
    position: absolute;
    right: 32px;
    top: 50%;
    z-index: 30;
    background-color: var(--color-light);
    transform: translateY(-50%);
}
.hero__prev {
    position: absolute;
    left: 32px;
    top: 50%;
    z-index: 30;
    background-color: var(--color-light);
    transform: translateY(-50%);
}
.hero__pag {
    counter-reset: pag;
    left: calc((100% - 1260px) / 2) !important;
    bottom: 150px !important;
    display: flex;
}
.hero__pag .swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    width: 178px;
    height: auto;
    text-align: left;
    background-color: transparent;
    opacity: 1;
}
.hero__pag .swiper-pagination-bullet::before {
    counter-increment: pag;
    content: "0" counter(pag);
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.3s ease-in-out;
}
.hero__pag .swiper-pagination-bullet::after {
    display: none;
}
.hero__bar {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.hero__bar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    transform: scaleX(0);
    transform-origin: left;
}
.hero__btns .btn:not(:last-child) {
    margin-right: 20px;
}
.swiper-pagination-bullet-active::before {
    color: var(--color-light) !important;
}
.swiper-pagination-bullet-active .hero__bar::after {
    transform: scaleX(1);
    transition: transform var(--hero-slider-speed) ease-in-out;
}

.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-slide {
    padding-top: 130px;
    padding-bottom: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-gray);
}

.hero-slide-1 {
    background-image: url("../../img/hero/chris-ensminger-yJDZTDeHeG8-unsplash.jpg");
}

.hero-slide-2 {
    background-image: url("../../img/hero/loren-king-EA45-AXlvWk-unsplash.jpg");
}

.hero-slide-3 {
    background-image: url("../../img/hero/jed-owen-ajZibDGpPew-unsplash.jpg");
}

.slider-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider-nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    color: var(--color-gray);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slider-nav__btn svg {
    display: block;
    fill: var(--color-light);
    width: 54px;
    height: 54px;
    color: inherit;
    object-fit: cover;
}
.slider-nav__btn:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}
.slider-nav__btn:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}
.slider-nav__btn:active {
    color: var(--color-light);
    background-color: var(--color-active);
}

.slider-nav__btn.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.hero__pag .swiper-pagination-bullet::after {
    display: none;
}

.main-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);
}

.main-title--home {
    color: var(--color-light);
}

.main-descr {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
}
.main-descr--home {
    margin-bottom: 32px;
    color: var(--color-light);
}

@media (max-width: 768px) {
    .hero__pag .swiper-pagination-bullet {
        width: 25%;
    }
}
@media (max-width: 1440px) {
    .hero__pag {
        left: 7% !important;
    }
}
@media (max-width: 1200px) {
    .hero__pag {
        left: 30px !important;
    }
}

@media (max-width: 1024px) {
    .main-title {
        font-size: 30px;
    }
    .hero__pag {
        left: 90px !important;
    }
    .hero__prev, .hero__next {
        display: none;
    }
    .main-descr {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .hero__pag {
        bottom: 50px !important;
        width: calc(100% - 50px) !important;
    }
}
@media (max-width: 576px) {
    .hero__pag {
        display: none;
    }
    .main-title {
        font-size: 18px;
    }
    .main-descr {
        font-size: 12px;
        max-width: 380px;
    }
}

@media (max-width: 768px) {
    .hero-slide {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .hero__content {
        padding-left: 15px;
        padding-right: 10px;
    }
}
@media (max-width: 576px) {
    .hero-slide {
        padding: 100px 0;
    }
}