@import "libs/normalize.css";
@import "_vars.css";
@import "_fonts.css";
@import "base.css";
@import "blocks.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    /* text_darkgrey */

    color: #131718;
}