@import "libs/normalize.css";
@import "_vars.css";
@import "_fonts.css";
@import "base.css";
@import "blocks.css";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: var(--darkgrey);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}